[Unit]
Description=TaishanPi File Manager Backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/userdata/server/apps/filemgr
ExecStart=/usr/bin/python3 /userdata/server/apps/filemgr/app.py
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
